.main {
  height: 100vh;
  position: absolute;
  width: 100%;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 0 5rem;
  gap: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.logo {
  display: flex;
  justify-content: left;
  left: 1.61rem;
  position: absolute;
  top: 1.25rem;
  z-index: 100;
}