.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100svw;
    height: auto;
    padding: 12px;
    background-color:#E5E5E5;
    margin-top:88px;
}
.main p{
    color: #000;
    margin: 16px;
    line-height: 24.2px;
}
.profileCard{
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 12px 15px;
}
.name{
    font-size:20px;
    line-height:24.2px;
}
.name span{
    font-weight: 700;
}
.main hr{
    margin: 19px;
    border-width:0;
    height: 1px;
    color:rgba(0, 0, 0, 0.15);
    background-color:rgba(0, 0, 0, 0.15);
}
.profilePic{
    margin-top:19px;
    padding: 10px;
    border-radius: 100%;
}
.profilePic{
    width: 100%;
    height: auto;
    padding: 20px;
}

