.footer2{
  background-color: #000;
  width: 100svw;
  height: 159px;
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.hitta h2{
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}