.headerContainer {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  gap: 1.8rem;
}

.headerIcon1 {
  padding-left: 7.5rem;
}