.swipe_wrapper {
    margin-top: 10vh;
    width: 100vw;
    height: 100%;
    display: block;
    overflow: hidden;

    .swipe_inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
}