.infinite_swipe {
    position: relative;
    margin: 11vh auto 9.938rem;
    width: 100svw;
    max-width: 45rem;
    height: 100svh;
    max-height: 80vh;
    display: grid;
    place-items: center center;

    .card {
        margin: 0 auto;
        width: 90svw;
        max-width: 45rem;
        height: 100svh;
        max-height: 80svh;
        position: absolute;
        left: 5svw;
        top: 0px;        
        color: #fff;
        display: grid;
        place-items: center center;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;

      p {
        position: absolute;
        left: 0;
        bottom: 10rem;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
      }
    }
  }