/* .yaxis_swipe {
    position: absolute;
    top: 176px;
        max-width: 360px;
        width: 100svw;
        min-height: 60vh; 
        max-height: 80svh;
    display: grid;
    place-items: center center;
    z-index: 1;

    .card {
        width: 100svw;
        min-height: 60vh; 
        max-height: 100%;       
        position: absolute;
        left: 0;
        top: 0px;
        z-index: -1;        
        color: #fff;
        object-fit: contain;
        object-position: center;

        .img {
            width: 100%;
            height: 100%;
            
        }

      .info {
        position: absolute;
        left: 2rem;
        bottom: 4rem;
        z-index: 2;
        text-align: center;

        h2 {
            text-align: left;
            font-size: 1.6rem;
            font-weight: 600;
        }

        p {
            text-align: left;
            font-size: 1rem;
            font-weight: 400;
        }
      }
    }
  } */


  .embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height: 60vh;
    padding: 0rem;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    flex-direction: column;
    height: calc(var(--slide-spacing) + var(--slide-height));
    margin-top: calc(var(--slide-spacing) * -1);
    
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-height: 0;
    padding-top: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
  .embla__slide__number {
    width: 4.6rem;
    height: 4.6rem;
    z-index: 1;
    position: absolute;
    top: calc(var(--slide-spacing) + 0.6rem);
    right: 0.6rem;
    border-radius: 50%;
    background-color: rgba(var(--background-site-rgb-value), 0.85);
    line-height: 4.6rem;
    font-weight: 900;
    text-align: center;
    pointer-events: none;
  }
  .embla__slide__number > span {
    color: var(--brand-primary);
    background-image: linear-gradient(
      45deg,
      var(--brand-primary),
      var(--brand-secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .info {
    position: absolute;
    left: 2rem;
    bottom: 4rem;
    z-index: 2;
    text-align: center;
  }
  
  .info > h2 {
    margin-bottom: 0.5rem;
      text-align: left;
      font-size: 1.6rem;
      font-weight: 600;
  }

  .info > p {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
}